@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

body {
    background-image: url('../imgs/tile.jpg');
    font-family: 'Roboto', sans-serif;
}

header, main {
    text-align: center;
}

#task-div {
    background-image: url('../imgs/formbg.jpg');
    background-position: left;
    background-repeat: repeat-y;
    height: 200px;
    width: 50%;
    margin: 0 auto;
}

form {
    height: 100%;
}

#task {
    background: transparent;
    height: 70%;
    width: 86%;
    box-sizing: border-box;
    margin-left: 14%;
    font-size: large;
    font-weight: bold;
}

label {
    color: #007bff;
}

#err {
    color: red;
}

.notes {
    background-image: url('../imgs/notebg.png');
    width: 200px;
    height: 250px;
    text-align: left;
    display: inline-block;
    float: left;
}
.notes:hover {
    transform: scale(1.25, 1.25);
    -moz-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    -webkit-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
}
p {
    width: 170px;
    height: 145px;
    word-wrap: break-word;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

p::-webkit-scrollbar {
    display: none;
} 

p:hover, span:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

i {
    float: right;
}